<form id="equipo-form" method="POST" action="">
    {% csrf_token %}
    <div class="mb-3">
        {{ equipo_form.nombre.label_tag }}
        {{ equipo_form.nombre }}
    </div>

    <div class="mb-3">
        {{ equipo_form.categoria.label_tag }}
        {{ equipo_form.categoria }}
    </div>

    <div class="mb-3">
        {{ equipo_form.descripcion.label_tag }}
        {{ equipo_form.descripcion }}
    </div>

    <div class="mb-3">
        {{ equipo_form.ubicacion.label_tag }}
        {{ equipo_form.ubicacion }}
    </div>

    <div class="row d-flex justify-content-around align-content-center">
        <div class="col-7">
            <div class="mb-3">
                {{ equipo_form.estado.label_tag }}
                {{ equipo_form.estado }}
            </div>
        </div>
        <div class="col-5 d-flex align-items-center mt-1">
            <div class="form-check form-switch">
                {{ equipo_form.activo }}
                <label class="form-check-label" for="id_activo_switch">¿Activo?</label>
            </div>
        </div>
    </div>
    <div class="mb-3">
        {{ equipo_form.margen_mantencion_dias.label_tag }}
        {{ equipo_form.margen_mantencion_dias }}
    </div>

    <div class="mb-3">
        {{ equipo_form.ultima_mantencion.label_tag }}
        {{ equipo_form.ultima_mantencion }}
    </div>
    <div class="d-flex justify-content-center align-items-center mt-4">
        <button type="submit" class="btn btn-success w-25 rounded-pill py-2">Guardar</button>
    </div>
</form>