<div class="row">
    <div class="col-md-4 mb-3">
        <label for="id_username_registro" class="form-label">Usuario:</label>
        {{registro_form.username}}
    </div>
    <div class="col-md-8 mb-3">
        <label for="id_email" class="form-label">Correo:</label>
        {{registro_form.email}}
    </div>
    <div class="col-md-6 mb-3">
        <label for="id_first_name" class="form-label">Nombre:</label>
        {{registro_form.first_name}}
    </div>
    <div class="col-md-6 mb-3">
        <label for="id_last_name" class="form-label">Apellido:</label>
        {{registro_form.last_name}}
    </div>
    <div class="col-md-7 mb-3">
        <label for="id_rut" class="form-label">RUT:</label>
        {{registro_form.rut}}
    </div>
    <div class="col-md-5 mb-3">
        <label for="id_telefono" class="form-label">Teléfono:</label>
        {{registro_form.telefono}}
    </div>
    <div class="col-md-6 mb-3">
        <label for="id_password1" class="form-label">Contraseña:</label>
        {{registro_form.password1}}
    </div>
    <div class="col-md-6 mb-3">
        <label for="id_password2" class="form-label">Confirmar Contraseña:</label>
        {{registro_form.password2}}
    </div>
    <div id="registerError" class="text-danger small mb-2"></div>
</div>