:root {
    --color-azul-oscuro: #022873;
    --color-azul: #034AA6;
    --color-azul-claro: #0468BF;
    --color-gris-claro: #F2F2F2;
    --primary-color: #002B5B; /* Azul marino */
    --accent-color: #1E90FF; /* Celeste/azul claro */
    --background-color: #F5F5F5; /* Gris claro */
    --text-color: #333333; /* Gris oscuro */
    --success-color: #2E8B57; /* Verde */
    --alert-color: #B22222; /* Rojo */
}

body {
    background-color: var(--color-gris-claro);
    color: var(--color-azul-oscuro);
    overflow-x: hidden;
}

.dashboard-header {
    background-color: var(--primary-color);
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1050;
    height: 60px;
}

#main-content {
    padding-top: 80px;
}

.sidebar {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    top: 0;
    left: -260px;
    width: 260px;
    height: 100vh;
    background-color: var(--primary-color);
    color: white;
    transition: all 0.3s ease;
    z-index: 1100;
}

.sidebar.active {
    left: 0;
}

.sidebar-pd {
    padding: 1rem;
}

.sidebar a {
    color: var(--color-gris-claro);
    display: block;
    padding: 0.8rem 1rem;
    text-decoration: none;
    border-radius: 0.4rem;
}

.sidebar a:hover {
    background-color: var(--color-azul-claro);
}

/* TOAST */
.toast-transparente {
  opacity: 0.9; /* semitransparente */
  backdrop-filter: blur(4px); /* opcional: efecto de vidrio */
}

.modal-content {
    border: none;
    border-radius: 8px;
    background-color: white;
}

.modal-header {
    background-color: var(--primary-color);
    color: white;
    border-bottom: none;
}

.modal-body {
    padding: 20px;
    color: var(--text-color);
}

.modal-body img {
    width: 100%;
    height: 350px;
    object-fit: cover;
    border-radius: 8px;
    margin-bottom: 10px;
}

.modal-content {
    background: #fff;
    transition: transform 0.3s ease;
}

.modal.fade .modal-dialog {
    transform: translateY(-50px);
}

.modal.show .modal-dialog {
    transform: translateY(0);
}


.btn-primary {
    background: linear-gradient(90deg, #0d6efd, #6610f2);
    border: none;
}


.btn-success {
    background: linear-gradient(90deg, #198754, #20c997);
    border: none;
}