:root {
    --primary-color: #002B5B; /* Azul marino */
    --accent-color: #1E90FF; /* Celeste/azul claro */
    --background-color: #F5F5F5; /* Gris claro */
    --text-color: #333333; /* Gris oscuro */
    --success-color: #2E8B57; /* Verde */
    --alert-color: #B22222; /* Rojo */
}