<table class="table table-hover table-bordered">
    <thead class="table-light">
        <tr>
            <th>Equipo</th>
            <th>Fecha</th>
            <th class="text-center">Estado</th>
            <th>Encargado</th>
            <th class="text-center">Acciones</th>
        </tr>
    </thead>
    <tbody>
        {% for m in mantenciones %}
        <tr>
            <td>{{ m.equipo.nombre }}</td>
            <td class=>{{ m.fecha_programada|date:"d/m/Y" }}</td>
            <td class="text-center">
                <span class="badge 
                    {% if m.estado == 'Pendiente' %}bg-secondary
                    {% elif m.estado == 'En curso' %}bg-primary
                    {% elif m.estado == 'Realizada' %}bg-success
                    {% elif m.estado == 'Atrasada' %}bg-danger
                    {% endif %}">
                    {{ m.estado }}
                </span>
            </td>
            <td>{{ m.encargado.first_name }} {{ m.encargado.last_name }}</td>
            <td class="text-center">
                <button class="btn btn-sm btn-outline-info ver-mantencion" data-id="{{ m.id }}">
                    <i class="bi bi-eye"></i>
                </button>
                {% if request.user.rol != 'usuario' and m.estado != 'Realizada' %}
                <button class="btn btn-sm btn-outline-warning editar-mantencion" data-id="{{ m.id }}">
                    <i class="bi bi-pencil"></i>
                </button>
                <button class="btn btn-sm btn-outline-danger eliminar-mantencion" data-id="{{ m.id }}">
                    <i class="bi bi-trash"></i>
                </button>
                {% endif %}
                {% if m.estado != 'Realizada' and request.user.rol != 'usuario' %}
                    <button class="btn btn-outline-success btn-sm finalizar-mantencion" data-id="{{ m.id }}">
                        <i class="bi bi-check-circle"></i>
                    </button> 
                {% else %}
                    <a href="{% url 'mantenciones:mantencion_reporte_pdf' m.id %}" target="_blank" class="btn btn-outline-dark btn-sm">
                        <i class="bi bi-file-earmark-pdf"></i>
                    </a>
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>