{% load static %}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ASENAV - CMMS</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.10.2/fullcalendar.min.css">
    <link rel="stylesheet" href="{% static "CSS/dashboard/dashboard.css" %}">
    {% block styles %}{% endblock styles %}
    
</head>
<body class="bg-light">
    

    {% comment %} Header {% endcomment %}
    {% include "components/dashboard/header.html" %}

    {% comment %} Sidebar {% endcomment %}
    {% include "components/dashboard/sidebar.html" %}


    <main id="main-content" class="content p-4">
        {% block content %}
            <div class="text-center mt-5">
                <h2>Bienvenido al panel de administración de ASENAV</h2>
                <p>Seleccione una opción del menú lateral</p>
            </div>
        {% endblock content %}


        <!-- Modal -->
        <div class="modal fade" id="mantencionesModal" tabindex="-1" aria-labelledby="mantencionesModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="mantencionesModalLabel">Mantenciones del día {{ date }}</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <ul id="mantencionesList"></ul>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                    </div>
                </div>
            </div>
        </div>
    </main>

    {% comment %} Scripts {% endcomment %}
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.10.2/fullcalendar.min.js"></script>
    <script src="{% static 'JS/dashboard/base_dashboard.js' %}"></script>
    <script src="{% static 'JS/dashboard/calendario.js' %}"></script>
    {% block scripts %}
    {% endblock %}

</body>
</html>